._*
.cache
.coverage
.DS_Store
.DS_Store?
.gtm
.idea
.python-version
.sass-cache
.Spotlight-V100
.swp
.Trashes
.vagrant
*.*~
*.dockerfile
*.dockerfile.base
*.exe
*.log
*.mo
*.orig
*.pyc
*.svn
*.swp
*.xls
build
ehthumbs.db
setup.cfg
tags
tools
Thumbs.db
Vagrantfile
